

body {
    background-color: rgb(51, 48, 48);
    margin: 0;
}

h2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

p {
    color: rgb(8, 12, 71);
}

#myContent {
    border: 5px solid black;
    padding: 1rem;
    text-align: center;
    background-color: rgb(105, 101, 101);
    width: 75%;
    margin: 0 auto;
}

#myContent div {
    background-color: rgb(145, 133, 133);
    width: 20%;
    text-align: center;
    margin: 0 auto;
}
